.T8VaVe{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
}

.lnXdpd {
    max-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
    object-position: center bottom;
    width: auto;
}

.rSk4se {
    max-height: 92px;
    position: relative;
}

.k1zIA {
    height: 100%;
    margin-top: auto;
}

.LS8OJ {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yr19Zb {
    min-height: 92px;
}
.LLD4me {
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
}
.o3j99 {
    flex-shrink: 0;
    box-sizing: border-box;
}

.RNNXgb {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
}


.A8SBwf {
    margin: 0 auto;
    width: calc(632px + 8px);
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.SDkEP {
    flex: 1;
    display: flex;
    padding: 7px 0 6px;
}
.a4bIc {
    display: flex;
    flex: 1;
}

.gLFyf {
    line-height: 25px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 0 0 19px;
    font-size: 18px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    color: #202124;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

.zGVn2e {
    display: flex;
    z-index: 3;
    box-shadow: ;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #dadce0;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.gy3Eif {
    border-bottom: 1px solid #ebebeb;
}

div.otByu {
    width: 100%;
    clear: both;
}

div.otByu div.yIQOUb {
    clear: both;
}

div.otByu div.FAcADc {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

div.otByu div.jYcx0e {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
div.Mza7yc {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}